asgiref==3.11.0
requests==2.32.3
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.11
PyJWT==2.11.0
sqlparse==0.5.4
tzdata==2025.3
gunicorn==23.0.0
whitenoise==6.7.0
setuptools  # Required for gunicorn (pkg_resources)
openai>=1.14.0
